/* STYLES FOR MOBILE DEVICES */
@media (max-width: 641px) {
  /* LOGO */
  .mxlms-title-logo-sm {
    display: inline-block;
  }
  .mxlms-title-logo-lg {
    display: none;
  }

  /* TITLE BTN */
  .mxlms-title-btn {
    font-size: 13px;
    margin-top: 13px;
    padding: 12px 15px;
    display: block;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  /* EXPORT BTN */
  .mxlms-export-button {
    font-size: 13px;
    font-size: 80%;
    color: #007bff;
    background-color: #fff;
    border: 1px solid;
    border-radius: 0.25rem;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    right: 0;
    left: 0;
    width: 100% !important;
    top: 0px;
  }

  /* DESINGING THE PAGINATION */
  .mxlms-pagination .mxlms-page-numbers {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    line-height: 1;
  }

  /* HIDE TABLE BORDER */
  .mxlms-responsive-table {
    border: 0;
  }

  .mxlms-responsive-table caption {
    font-size: 1.3em;
  }

  .mxlms-responsive-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mxlms-responsive-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .mxlms-responsive-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: center;
  }

  .mxlms-responsive-table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .mxlms-responsive-table td:last-child {
    border-bottom: 0;
  }

  .mxlms-border-right-for-settings-types {
    border-right: none;
  }

  .mxlms-course-update-actions button {
    margin-bottom: 5px;
    width: 100%;
  }

  /* STYLING TABS FOR MOBILE DEVICES */
  .mxlms-tab-title {
    display: none;
  }
  .mxlms-tabset > label {
    padding: 10px;
  }
}

/* LARGER THAN MOBILE DEVICES */
@media (min-width: 641px) {
  .mxlms-title-logo-sm {
    display: none;
  }
  .mxlms-title-logo-lg {
    display: inline-block;
  }
  .mxlms-title-btn {
    font-size: 13px;
    line-height: 1;
    margin-right: -13px;
    float: right;
    padding: 12px 15px;
    display: block;
  }
}
